{% extends 'base.html' %}

{% block head %}
<title>Поиск</title>
<style>
    .container {
      text-align: center; /* Центрируем содержимое по горизонтали */
    }

    .card {
      border: 1px solid #ccc;
      border-radius: 15px;
      padding: 20px;
      margin: 20px auto;
      width: 80%; /* ширина карточки составляет 80% ширины экрана */
      max-width: 1800px; /* максимальная ширина карточки */
      text-align: left; /* Центрируем содержимое по горизонтали внутри карточки */
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      background-color: #f9f9f9; /* Цвет фона карточки */
      display: flex;
      flex-direction: row;
    }

    .who-rec {
    text-align: right
    }

    .name {
      font-size: 24px;
      font-weight: bold;
      padding-bottom: 0px;
    }

    .job-title {
      margin-top: 0px;
    }

    .contact-info {
      margin-top: 0px;
    }

    .round {
      border-radius: 10%;
    }

    button {
      border: none;
      background: none;
      cursor: pointer;
      outline: none;
    }

  </style>
{% endblock %}


{% block body %}
<div class="d1">
  <form method="GET">
  <input type="prompt" name="q" value="{{request.args.get('q', '')}}" placeholder="Искать здесь...">
  <button type="submit"></button>
  </form>
</div>

<p>{{ text }}</p>

<div class="container" id="cards-container"></div>

<div>{% for i in answer %}
        <button class="card">
        <img class="round" alt="" src="{{ i['photo'] }}">
        <div class="name">{{ i['name'] }}</div>
        <div class="job-title">{{ i['jobTitle'] }}</div>
        <div class="contact-info">
            <a href="https://vk.com/id{{ i['site'] }}">Контакты</a><br>
            {{ i['description'] }}
        </div>
        <div class="who-rec">
        Рекомендует:
            {% for user in i['who_rec'] %}
            <a href="https://vk.com/id{{ user[2] }}">{{ user[0] }} {{user[1]}}</a>
            {% endfor %}

        </div>
      </button>
  {% endfor %}
</div>

{% endblock %}